<!DOCTYPE html>
<html>
<head>
  <title>SpinnerAngular</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/messages' %>
  <%= yield(:content) or yield %>
  
</body>
</html>
